@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif !important;
}

.buscadorCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  color: #a1a1a1 !important;
  background-color: #363636;
}

.centrarIconoTitulo {
  display: flex;
  justify-content: start;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  color: #a1a1a1;
}

.asignaturas td {
  min-width: 10%;
  text-align: center;
}

.texto_centrado {
  display: block !important;
  text-align: center !important;
}

.asignaturas thead tr {
  height: 40px;
}

.asignaturas {
  width: 100%;
  text-transform: uppercase;
}

.asignaturas {
  box-sizing: border-box;
}
.asignaturas thead tr th {
  width: 100px;
}

.asignaturas tbody tr,
.asignaturas tfoot tr {
  height: 40px !important;
}

.asignaturas tbody tr:hover {
  background-color: #212121;
}
